.hero-section {
  .torn {
    margin-top: -60px;
  }
  .glide__slide-content {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-inline: 110px;
    margin: 150px auto 80px;
    text-align: center;
    .hero-slide_title {
      font-family: $font-heading, sans-serif;
      font-size: 60px;
      font-size: clamp(35px, 5vw, 60px);
      color: $color-white;
      text-transform: uppercase;
      margin: 100px 0 0 0;
    }
    .hero-slide_description {
      font-family: 'Roboto-Light', sans-serif;
      font-size: 20px;
      color: $color-white;
      max-width: 570px;
      text-align: center;
      width: 100%;
    }
  }
}

// ------------------------------
.recent-post-card {
  position: relative;
}

// ---------
.contact-section {
  .contact-section_inner {
    max-width: 600px;
    margin: 0 auto;
    @media (min-width: 992px) {
      max-width: 100%;
    }
  }
  form {
    .wpcf7-response-output {
      border: none;
      font-family: $font-cursive;
      color: $color-error;
      margin: 0;
      padding-left: 0;
      font-size: $font-size-paragraph;
    }
    .wpcf7-not-valid-tip {
      font-family: $font-cursive;
      color: $color-error;
      font-size: $font-size-paragraph;
    }
    .wpcf7-spinner {
      display: none;
    }
    // display: flex;
    // gap: 10px;
    input {
      height: 50px;
      padding: 10px 20px;
      border: none;
      caret-color: $color-gray-2;
      color: $color-gray-2;
      font-family: $font-cursive;
      &:focus-visible {
        outline: none;
      }
    }
    br {
      display: none;
    }
    ::placeholder {
      font-family: $font-cursive;
      color: $color-gray-2;
      font-size: $font-size-paragraph;
      opacity: 1;
    }
    input[type='submit'] {
      background-color: $color-olive-green;
      font-family: $font-heading;
      text-transform: uppercase;
      color: $color-white;
      &:hover {
        background-color: $color-olive-green-hover;
      }
    }
  }
}

.read-more-text {
  font-family: $font-heading;
  text-transform: uppercase;
  color: $color-dark;
  font-size: $font-size-paragraph;
}
.destination-categories-section_inner {
  display: flex;
  gap: 7vw;
  justify-content: center;
  flex-wrap: wrap;
  .destination-category-item {
    display: flex;
    justify-content: center;
    .number-of-destination {
      font-family: $font-sans;
      font-size: $font-size-paragraph;
      color: $color-gray-2;
    }
    .item-name {
      font-size: 22px;
      text-align: center;
    }
    .item-icons {
      position: relative;
      height: 80px;
      .icon {
        opacity: 1;
        margin: 0 auto;
        width: auto;
        height: 80px;
      }
      .hover-icon {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        height: 80px;
        width: auto;
      }
    }
    a {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &:hover {
        .icon {
          opacity: 0;
        }
        .hover-icon {
          opacity: 1;
        }
      }
    }
  }
}
