.hero-section .torn {
  margin-top: -100%;
}

// ---------------------------------
////////// Contact section. Start
// ---------------------------------
.contact-section form .wpcf7-response-output {
  border: none;
  font-family: $font-cursive;
  color: $color-error;
  margin: 0;
  padding-left: 0;
  font-size: $font-size-paragraph;
}
.contact-section form .wpcf7-not-valid-tip {
  font-family: $font-cursive;
  color: $color-error;
  font-size: $font-size-paragraph;
}
.contact-section form .wpcf7-spinner {
  display: none;
}
.contact-section form input {
  height: 50px;
  padding: 10px 20px;
  border: none;
  caret-color: $color-gray-2;
  color: $color-gray-2;
  font-family: $font-cursive;
}
.contact-section form input:focus-visible {
  outline: none;
}
.contact-section form br {
  display: none;
}
.contact-section form ::placeholder {
  font-family: $font-cursive;
  color: $color-gray-2;
  font-size: $font-size-paragraph;
  opacity: 1;
}
.contact-section form input[type='submit'] {
  background-color: $color-olive-green;
  font-family: $font-heading;
  text-transform: uppercase;
  color: $color-white;
}
.contact-section form input[type='submit']:hover {
  background-color: $color-olive-green-hover;
}
.contact-section_inner img {
  max-width: 440px;
}

@media (min-width: $bp-xs) {
  .contact-section_inner img {
    max-width: 100%;
  }
}
// ---------------------------------
////////// Contact section. Start
// ---------------------------------
.destination-categories__inner {
  display: flex;
  gap: 7vw;
  justify-content: center;
  flex-wrap: wrap;
}
// .destination-category__item {
//   display: flex;
//   justify-content: center;
// }
.destination-category__item a {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.destination-category__item a .default-icon {
  opacity: 1;
  margin: 0 auto;
  width: auto;
  height: 80px;
  transition: all 0.3s ease-in-out;
}
.destination-category__item a .hover-icon {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: auto;
  transition: all 0.3s ease-in-out;
}
.destination-category__item a:hover .default-icon {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.destination-category__item a:hover .hover-icon {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.destination-category__item-number-of-destination {
  font-family: $font-sans;
  font-size: $font-size-paragraph;
  color: $color-gray-2;
}
.destination-category__item-title {
  font-size: 22px;
  text-align: center;
}
.destination-category__item-icons {
  position: relative;
  height: 80px;
}
// ---------------------------------
////////// Destination categories section. End
// ---------------------------------
