.single-destination .section-title {
  margin-bottom: 15px;
}
.single-destination .swiper-pagination {
  background-color: $color-white;
  bottom: 0 !important;
}
.key-points__container a {
  align-items: center;
  font-family: $font-cursive;
  color: $color-beige-dark;
  font-size: 18px;
}

.key-points__container img {
  height: auto;
  width: 50px;
}
.destination__related-links img {
  width: 50px;
  height: auto;
}
.destination__related-links .card-item a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.destination-facts .fact {
  margin-bottom: 5px;
}
.destination-facts .label {
  font-family: $font-heading;
  text-transform: uppercase;
  color: $color-dark;
  font-size: $font-size-paragraph;
}
.destination-facts .value {
  font-family: $font-sans;
  color: $color-gray-2;
  font-size: $font-size-paragraph;
}
