.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  position: relative;
  z-index: 10;
  gap: 10px;
  margin-bottom: 30px;
}
.filters__item {
  position: relative;
}
.filters__item-dropdown {
  width: 100%;
  max-height: 0;
  position: absolute;
  transition: all 0.3s ease;
  background-color: $color-white;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  box-shadow: 0px 7px 11px #00000017;
  z-index: 10;
}
.filters__item-dropdown a {
  padding: 10px 10px;
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease;
  font-family: $font-cursive;
  color: $color-beige-dark;
}
.filters__item-dropdown a:hover {
  background-color: #efefef;
  transition: all 0.3s ease;
}
.filters__item.open .filters__item-dropdown {
  max-height: 500px;
  transition: all 0.3s ease;
}

.filters__item-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px 14px;
  cursor: pointer;
  font-family: $font-cursive;
  font-size: 15px;
  color: $color-beige-dark;
  border: 1px solid #cecece;
}
.selected .filters__item-toggle {
  color: $color-dark;
}
.filters__item img {
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
  width: 20px;
  height: 20px;
}
.filters__item.open img {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}
.filters__searchIcon {
  width: 20px;
  height: 20px;
}
.filters_submitBtn.disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
.filters_submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-olive-green;
  color: $color-white;
  font-family: $font-heading;
  font-size: 15px;
  gap: 5px;
  border: none;
  height: 52px;
  cursor: pointer;
}
