footer {
  form {
    ::placeholder {
      font-family: $font-cursive;
      color: $color-white;
      font-size: 18px;
      opacity: 1;
    }
    input:not([type='submit']) {
      font-family: $font-cursive;
      padding: 8px;
      border-bottom: 1px solid $color-white;
      border-left: 1px solid $color-white;
      border-top: none;
      border-right: none;
      height: 53px;
      border-radius: 0;
      background-color: transparent;
      color: $color-white;
      &:focus-visible {
        outline: none;
      }
    }
    br {
      display: none;
    }
    p {
      margin: 0;
    }
    input[type='submit'] {
      margin-top: 10px;
      background-color: transparent;
      font-family: $font-heading;
      text-transform: uppercase;
      color: $color-white;
      font-size: 16px;
      border: none;
      padding: 8px 15px 8px 0px;
      display: inline-block;
      cursor: pointer;
      width: auto;
      &:hover {
      }
    }
  }
  .calendar_icon {
    position: relative;
    top: 2px;
  }
  color: #fff;
  .footer-top {
    background-color: $color-dark;
    padding: 70px 0px;
    .footer-top_logo {
      width: 100%;
      max-width: 144px;
    }
    .footer-top_title {
      font-size: 22px;
    }
    .footer-recent__date {
      font-size: 18px;
      color: $color-olive-green;
      font-family: $font-cursive;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $color-white;
        transition: all 0.3s ease-in-out;
      }
    }
    .footer-recent__link {
      font-family: $font-sans;
      font-size: 18px;
      color: $color-gray;
    }
    .footer-top_text {
      font-family: $font-cursive;
      font-size: 25px;
      color: $color-gray;
      max-width: 800px;
      width: 100%;
    }
  }
  .footer-bottom-bar {
    background-color: #111111;
    padding: 5px 0px;
  }
  p {
    color: $color-gray;
  }
}
