@font-face {
  font-family: 'Oswald SemiBold';
  src:
    url('../../assets/fonts/Oswald-SemiBold.woff') format('woff'),
    url('../../assets/fonts/Oswald-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CrimsonText-Italic';
  src:
    url('../../assets/fonts/CrimsonText-Italic.woff') format('woff'),
    url('../../assets/fonts/CrimsonText-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src:
    url('../../assets/fonts/Roboto-Regular.woff') format('woff'),
    url('../../assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Light';
  src:
    url('../../assets/fonts/Roboto-Light.woff') format('woff'),
    url('../../assets/fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
