::selection {
  background-color: #59815b;
  color: $color-white;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading, sans-serif;
  text-transform: uppercase;
}

p {
  font-family: $font-sans, sans-serif;
  font-size: $font-size-paragraph;
  color: $color-gray-2;
  line-height: $line-height-paragraph;
}

/* 1) Stop Glide from translating the track (prevents the wrap slide) */
body.home .glide__slides {
  transform: none !important;
  transition: none !important;
  position: relative;
  flex-wrap: wrap;
  width: 100% !important;
}
body.home .glide__slide {
  position: absolute;
  inset: 0;
  width: 100%;
  opacity: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  transition: opacity 0.6s ease-in-out;
  pointer-events: none; /* so only active slide is clickable */
  img {
    height: auto;
    display: block;
  }
}

body.home .glide__slide--active {
  opacity: 1;
  position: relative;
  pointer-events: auto;
  z-index: 2;
}

body.home .glide__arrows {
  .glide__arrow {
    padding: 10px 20px;
    border: none;
    box-shadow: none;
    &:hover {
      // .arrow-bg path {
      //   fill: $color-olive-green;
      //   transition: all 0.3s ease-in-out;
      // }
      .glide__arrow--svg path {
        transition: all 0.3s ease-in-out;
        fill: $color-white;
      }
      img.hover {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
      img.default {
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
    }

    .glide__arrow img.hover {
      opacity: 1;
    }
    .arrow-bg path {
      fill: $color-white;
      transition: all 0.3s ease-in-out;
    }
  }
  .glide__arrow--svg svg {
    width: 30px;
  }
  .glide__arrow--right--svg {
    transform: rotate(180deg);
  }
  .glide__arrow img {
    width: 78px;
    position: absolute;
    z-index: -5;
    left: 0;
    top: 0;
  }
  .glide__arrow img.default {
    opacity: 1;
  }
  .glide__arrow img.hover {
    opacity: 0;
  }

  .arrow-bg {
    inset: 0;
    position: absolute;
    z-index: -1;
  }
}

.bar {
  font-family: $font-cursive;
  color: $color-white;
  align-items: center;
  ul {
    gap: 15px;
    li {
      a {
        padding: 10px 5px;
        display: inline-block;
        text-decoration: none;
        color: $color-white;
        font-size: 18px;
      }
    }
  }
  .bar_icon {
    width: 20px;
    height: 20px;
    display: inline-block;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    vertical-align: middle; /* optional */
  }
  li.topbar-left-phone .bar_icon {
    background-image: url('../../assets/icons/phone.svg');
  }
  li.topbar-left-email .bar_icon {
    background-image: url('../../assets/icons/envelope.svg');
  }
  li.socials-instagram .bar_icon {
    background-image: url('../../assets/icons/instagram.svg');
  }
  li.socials-facebook .bar_icon {
    background-image: url('../../assets/icons/facebook.svg');
  }
  .social_block .bar_icon {
    width: 17px;
    height: 17px;
  }
  .social-text {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: $container-max;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: $color-dark;
  text-decoration: none;
  display: inline-block;
  &:hover {
    .arrow-icon {
      transform: rotate(45deg);
      transition: all 0.3s ease-in-out;
    }
  }
  .arrow-icon {
    width: 24px;
    position: relative;
    top: 7px;
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
  }
}

.section-title {
  font-family: $font-heading, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  span {
    color: $color-olive-green;
  }
}

.beige-bg {
  background-color: $color-beige-bg;
}

.torn {
  z-index: 3;
  position: relative;
  width: 100%;
}

.torn-bottom {
  bottom: -5px;
}
.torn-top {
  transform: rotate(180deg);
}

.common-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.common-hero-section {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.common-hero-section_title {
  font-family: $font-heading, sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 50px;
}

.post-item {
  a {
    display: block;
  }
  img {
    // aspect-ratio: 1 / 1;
  }
}

.ratio-4-3 {
  aspect-ratio: 4 / 3;
}

.header-top-text {
  font-family: $font-cursive;
  color: $color-gray-2;
  font-size: 21px;
}

.item-title {
  font-size: 29px;
  font-family: $font-heading;
  position: relative;
  display: inline-block;
  // &:after {
  //   content: '';
  //   position: relative;
  //   bottom: 0;
  //   width: 0%;
  //   height: 2px;
  //   background-color: $color-dark;
  //   display: block;
  //   transition: all 0.3s ease-in-out;
  // }
  // &:hover:after {
  //   width: 100%;
  //   transition: all 0.3s ease-in-out;
  // }
}
.calendar_icon {
  width: 20px;
  height: 20px;
}
.pencil_icon {
  width: 28px;
  height: 28px;
}

.multi-line-underline {
  display: inline;
  color: inherit;
  text-decoration: none;

  background-image: linear-gradient($color-dark, $color-dark);
  background-repeat: no-repeat;
  background-position: 0 95%; // bottom
  // first value: X, second value: Y */
  background-size: 0% 2px; // width animates, height fixed
  // first value: width, second value: height */

  // box-decoration-break: clone;
  // -webkit-box-decoration-break: clone;

  transition: background-size 0.35s ease;

  &:hover {
    background-size: 100% 2px;
  }
}

.multi-line-underline.multi-line-underline-light {
  background-image: linear-gradient($color-gray, $color-gray);
}

.glide .white-arrows button {
  font-size: 30px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  background: #ffffff40;
  color: #ffffff;
}

.line {
  width: 100%;
  height: 1px;
  background-color: $color-gray;
}

.sidebar {
  position: sticky;
  top: 20px; /* distance from top of viewport */
}

.sidebar-title {
  font-size: 22px;
}

.meta-date-container {
  .date,
  .author {
    display: flex;
    align-items: center;
  }
  span {
    font-family: $font-cursive;
    font-size: $font-size-paragraph;
    color: $color-gray-2;
  }
}

body.blog .post-items,
body.archive.category .post-items {
  .item-title {
    font-size: 42px;
  }
  .recent-post-card {
    margin-bottom: 50px;
  }
}

.pagination {
  a,
  span {
    font-family: $font-cursive;
    color: $color-dark;
    font-size: 18px;
    padding: 5px 15px;
  }
  .current {
    color: $color-olive-green;
  }
}
