::selection {
  background-color: #59815b;
  color: $color-white;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading, sans-serif;
  text-transform: uppercase;
}

p {
  font-family: $font-sans, sans-serif;
  font-size: $font-size-paragraph;
  color: $color-gray-2;
  line-height: $line-height-paragraph;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
footer {
  margin-top: auto;
}
.wpcf7 .hidden-fields-container {
  display: none;
}
.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.bg-overflow.active {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 13;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: $color-dark;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.arrow-icon {
  width: 24px;
  position: relative;
  // top: 7px;
  transform: rotate(0);
  transition: all 0.3s ease-in-out;
}
.arrow-icon:hover {
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.section-title {
  font-family: $font-heading;
  font-size: clamp(40px, 5vw, 50px);
  text-transform: uppercase;
  text-align: center;
}
.section-title span {
  color: $color-olive-green;
}

.beige-bg {
  background-color: $color-beige-bg;
}

.torn {
  z-index: 3;
  position: relative;
  width: 100%;
  bottom: -6px;
}
.torn-top {
  transform: rotate(180deg);
  bottom: 2px;
}
.torn-bottom {
}
.read-more-text {
  font-family: $font-heading;
  text-transform: uppercase;
  color: $color-dark;
  font-size: $font-size-paragraph;
}
.common-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.common-hero-section {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
@media (min-width: $bp-xs) {
  .common-hero-section {
    min-height: 400px;
  }
}
.common-hero-section_title {
  font-family: $font-heading, sans-serif;
  font-size: 60px;
  font-size: clamp(40px, 6vw, 60px);
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 50px;
}

.ratio-4-3 {
  aspect-ratio: 4 / 3;
}

.header-top-text {
  font-family: $font-cursive;
  color: $color-gray-2;
  font-size: 21px;
}

.item-title {
  font-size: 29px;
  font-family: $font-heading;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.calendar-icon--grey {
  width: 20px;
  height: 20px;
  position: relative;
}

.pencil_icon--grey {
  width: 28px;
  height: 28px;
}

.multi-line-underline {
  display: inline;
  color: inherit;
  text-decoration: none;

  background-image: linear-gradient($color-dark, $color-dark);
  background-repeat: no-repeat;
  background-position: 0 95%; // bottom
  // first value: X, second value: Y */
  background-size: 0% 2px; // width animates, height fixed
  // first value: width, second value: height */

  // box-decoration-break: clone;
  // -webkit-box-decoration-break: clone;

  transition: background-size 0.35s ease;

  &:hover {
    background-size: 100% 2px;
  }
}

.multi-line-underline.multi-line-underline-light {
  background-image: linear-gradient($color-gray, $color-gray);
}
.multi-line-underline.multi-line-underline-white {
  background-image: linear-gradient($color-white, $color-white);
}
.line {
  width: 100%;
  height: 1px;
  background-color: $color-gray;
}

.sidebar {
  position: sticky;
  top: 20px; /* distance from top of viewport */
}

.sidebar-title {
  font-size: 22px;
}

.meta-date-container .date,
.meta-date-container .author {
  display: flex;
  align-items: center;
}
.meta-date-container span {
  font-family: $font-cursive;
  font-size: $font-size-paragraph;
  color: $color-gray-2;
}

.pagination a,
.pagination span {
  font-family: $font-cursive;
  color: $color-dark;
  font-size: 18px;
  padding: 5px 15px;
}
.pagination .current {
  color: $color-olive-green;
}

.torn--side-left {
  position: absolute;
  right: calc(100% - 3px);
  top: 0;
  height: 100%;
  fill: #f2f1ea;
}
.torn--side-right {
  position: absolute;
  left: calc(100% - 3px);
  top: 0;
  height: 100%;
  fill: #f2f1ea;
}
.torn-text {
  background-color: #f2f1ea;
  padding: 15px 40px;
  display: inline-block;
  margin: 0;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.torn-label__container .label-icon {
  transform: rotate(90deg);
  height: 27px;
  width: 27px;
  z-index: 3;
  position: relative;
}

.destination__item {
  position: relative;
  min-height: 350px;
  font-size: 35px;
}
.destination__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.destination__item .wp-post-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.destination__item .title {
  background-color: $color-white;
}

.post-navigation .nav-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
  font-family: $font-heading;
  text-transform: uppercase;
}
.post-navigation a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.comment-respond .form-submit {
  display: inline-block;
}
.comment-respond textarea {
  border-color: #ddd;
  display: block;
  width: 100%;
}
.comment-respond .comment-reply-title {
  font-size: 35px;
}
.comment-respond label {
  font-family: $font-cursive;
  font-size: $font-size-paragraph;
}
.comment-respond input:not([type='submit']):not([type='checkbox']) {
  font-family: $font-cursive;
  padding: 8px;
  border: 1px solid #ddd;
  height: 50px;
  border-radius: 0;
  background-color: transparent;
  color: $color-dark;
  width: 100%;
}
.comment-respond
  input:not([type='submit']):not([type='checkbox']):focus-visible {
  outline: none;
}
.comment-respond input[type='checkbox'] {
  border: 1px solid #ddd;
  width: auto;
}
.comment-respond .comment-form-cookies-consent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.comment-respond input[type='submit'] {
  background-color: $color-olive-green;
  font-family: $font-heading;
  text-transform: uppercase;
  color: $color-white;
  border: 0;
  padding: 20px 25px;
}
.comment-respond input[type='submit']:hover {
  background-color: $color-olive-green-hover;
}
