// Webpack entry file
// Required Core Stylesheet
@import '/node_modules/@glidejs/glide/src/assets/sass/glide.core';
// Optional Theme Stylesheet
@import '/node_modules/@glidejs/glide/src/assets/sass/glide.theme';

// Variables and mixins first
@import 'variables';
@import 'normalize';
@import 'utilities';
@import 'variables';
@import 'fonts';

// Global styles
@import 'global';

// Page-specific styles
@import 'pages/front-page';
@import 'pages/not-found';
@import 'pages/category';
@import 'pages/single-destination';

// Components
@import 'components/header';
@import 'components/search-form';
@import 'components/footer';
@import 'components/buttons';
@import 'components/filters';
@import 'components/card-item';
@import 'components/swiper';
@import 'components/contact-widget';
@import 'components/social-icons-widget';
@import 'components/torn-bg-under-word';
@import 'components/media-queries';
